{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JMAC DB | Incident Processing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'incidents/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'incidents/css/webflow.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'incidents/css/incindents-27-06-2016.css' %}">
  <script type="text/javascript">
    var AppGlobal = {
      "user": "{{user}}",
      "host": "{{host}}"
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto Condensed:regular,700"]
      }
    });
  </script>
  <script type="text/javascript" src="{% static 'incidents/js/modernizr.js' %}"></script>
</head>
<body class="normal_body">
{% if request.user.is_authenticated %}
<div class="w-nav navbar">
    <a class="w-inline-block navbar__tomainlogo" href="{% url 'main:point' %}"></a>
    <div class="w-container navbar__conteiner">
      <nav class="w-nav-menu navbar__menu" role="navigation">
      <a class="w-nav-link navbar__link active" href="{% url 'incidents:incidents' %}">Incident Processing</a>
      <a class="w-nav-link navbar__link" href="{% url 'db_manage:db_point' %}">Database Management</a>
      <a class="w-nav-link navbar__link" href="{% url 'analytics:chart' %}">Create Reports</a>
      <a class="w-nav-link navbar__link" href="{% url 'docs:docs' %}">User Manual</a>
      <a class="w-nav-link navbar__link" href="{% url 'userena_signout' %}">Sign out</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
<div id="manage_incidents"></div>
{% render_bundle "incidents_page" %} 
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
{% else %}
<div class="w-container" style="background:black;">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Please Log in</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'userena_signin' %}">Log in</a>
  </div>
</div>
{% endif %}
</body>
</html>