{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Database Management | PREVIEW</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'db_management/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'db_management/css/webflow.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'db_management/css/db_manage-27-06-2016-7.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto Condensed:regular,700"]
      }
    });
  </script>
  <script type="text/javascript" src="{% static 'db_management/js/modernizr.js' %}"></script>
</head>
<body class="normal_body">
{% if request.user.is_authenticated %}
  <div class="w-nav navbar">
    <a class="w-inline-block navbar__tomainlogo" href="{% url 'main:point' %}"></a>
    <div class="w-container navbar__conteiner">
      <nav class="w-nav-menu navbar__menu" role="navigation">
      <a class="w-nav-link navbar__link" href="{% url 'incidents:incidents' %}">Incident Processing</a>
      <a class="w-nav-link navbar__link active" href="{% url 'db_manage:db_point' %}">Database Management</a>
      <a class="w-nav-link navbar__link" href="{% url 'analytics:chart' %}">Create reports</a>
      <a class="w-nav-link navbar__link" href="{% url 'docs:docs' %}">User Manual</a>
      <a class="w-nav-link navbar__link" href="{% url 'userena_signout' %}">Sign out</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="additional_header">
    <div class="w-container additional_header__conteiner"><a class="additional_header__link" href="{% url 'db_manage:descriptions_workspace' %}">Back</a><a class="additional_header__link" href="{% url 'db_manage:pdf' arg1=where %}">Export PDF</a>
    </div>
  </div>
  <div class="onepagecontent">
  <div class="w-row onepagecontent__row">
  {% for description in descriptions %}
        <div class="w-col w-col-6">
        <div class="workspacedescription__conteiner" style="min-height:350px;">
          <div class="w-row">
            <div class="w-col w-col-10 doted_right">
              <div class="w-row headerrow">
                <div class="w-col w-col-1">
                  <h3 class="teblehead">ID</h3>
                </div>
                <div class="w-col w-col-5">
                  <h3 class="teblehead">Name</h3>
                </div>
                <div class="w-col w-col-3">
                  <h3 class="teblehead">Date of report</h3>
                </div>
                <div class="w-col w-col-3">
                  <h3 class="teblehead">Assigned IDs</h3>
                </div>
              </div>
              <div class="w-row">
                <div class="w-col w-col-1">
                  <h3 class="teblehead entrie">{{description.id}}</h3>
                </div>
                <div class="w-col w-col-5">
                  <h3 class="teblehead entrie">{{description.name}}</h3>
                </div>
                <div class="w-col w-col-3">
                  <h3 class="teblehead entrie">{{description.convert_date}}</h3>
                </div>
                <div class="w-col w-col-3">
                  {% for ass_list in assigned %}{% if ass_list|first == description.id %}{% for ass_id in ass_list|slice:"1:" %}<h3 class="teblehead entrie">{{ass_id}}</h3>{% endfor %}{% endif %}{% endfor %}
                </div>
              </div>
              <h4 class="listincidents__filterhead">Description:</h4>
              <p class="listincidents__form_label db_entries workspace">{{description.description}}</p>
            </div>
            <div class="w-col w-col-2">
              <h3 class="teblehead">Remarks</h3>
            </div>
          </div>
        </div>
        </div>
    {% endfor %}
    </div>
  </div>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
{% else %}
<div class="w-container" style="background:black;">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Please Log in</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'userena_signin' %}">Log in</a>
  </div>
</div>
{% endif %}   
</body>
</html>