{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{% static 'db_management/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'db_management/css/webflow.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'db_management/css/db_manage-27-06-2016-7.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto Condensed:regular,700"]
      }
    });
  </script>
</head>

<body class="normal_body">
  <div class="onepagecontent">
  <div class="w-row onepagecontent__row">
  {% for description in descriptions %}
        <div class="w-col w-col-6">
        <div class="workspacedescription__conteiner" style="min-height:350px;">
          <div class="w-row">
            <div class="w-col w-col-10 doted_right">
              <div class="w-row headerrow">
                <div class="w-col w-col-1">
                  <h3 class="teblehead">ID</h3>
                </div>
                <div class="w-col w-col-5">
                  <h3 class="teblehead">Name</h3>
                </div>
                <div class="w-col w-col-3">
                  <h3 class="teblehead">Date of report</h3>
                </div>
                <div class="w-col w-col-3">
                  <h3 class="teblehead">Assigned IDs</h3>
                </div>
              </div>
              <div class="w-row">
                <div class="w-col w-col-1">
                  <h3 class="teblehead entrie">{{description.id}}</h3>
                </div>
                <div class="w-col w-col-5">
                  <h3 class="teblehead entrie">{{description.name}}</h3>
                </div>
                <div class="w-col w-col-3">
                  <h3 class="teblehead entrie">{{description.convert_date}}</h3>
                </div>
                <div class="w-col w-col-3">
                  {% for ass_list in assigned %}{% if ass_list|first == description.id %}{% for ass_id in ass_list|slice:"1:" %}<h3 class="teblehead entrie">{{ass_id}}</h3>{% endfor %}{% endif %}{% endfor %}
                </div>
              </div>
              <h4 class="listincidents__filterhead">Description:</h4>
              <p class="listincidents__form_label db_entries workspace">{{description.description}}</p>
            </div>
            <div class="w-col w-col-2">
              <h3 class="teblehead">Remarks</h3>
            </div>
          </div>
        </div>
        </div>
    {% endfor %}
    </div>
  </div>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>