<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>JMAC DB | User Manual</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'docs/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'docs/css/webflow.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'docs/css/docs.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    var AppGlobal = {
      "user": "{{user}}",
      "host": "{{host}}"
    }
  </script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto Condensed:regular,700"]
      }
    });
  </script>
  <script type="text/javascript" src="{% static 'docs/js/modernizr.js' %}"></script>
</head>
<body class="normal_body">
{% if request.user.is_authenticated %}
<div class="w-nav navbar">
    <a class="w-inline-block navbar__tomainlogo" href="{% url 'main:point' %}"></a>
    <div class="w-container navbar__conteiner">
      <nav class="w-nav-menu navbar__menu" role="navigation"><a class="w-nav-link navbar__link" href="{% url 'incidents:incidents' %}">Manage incidents</a><a class="w-nav-link navbar__link" href="{% url 'db_manage:db_point' %}">Manage database</a><a class="w-nav-link navbar__link" href="{% url 'analytics:chart' %}">Create reports</a><a class="w-nav-link navbar__link active" href="{% url 'docs:docs' %}">Documentation</a><a class="w-nav-link navbar__link" href="{% url 'userena_signout' %}">Sign out</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
<div class="content_block">
    <div>
      <h3 style="color:black; margin-top:20px;">This section will be updated after final application structure conformation. </h3>
    </div>
</div>    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'docs/js/docs.js' %}"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  {% else %}
<div class="w-container" style="background:black;">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Please Log in</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'userena_signin' %}">Log in</a>
  </div>
</div>
{% endif %}
</body>
</html>