body {
  padding-top: 93px;
  background-color: #000;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .84)), url('../images/back.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .84)), url('../images/back.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

h1 {
  margin: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2d3338;
  font-size: 69px;
  line-height: 54px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

.hidden {
  display: none;
}

.map {
  height: 300px;
}
.calClass {
  background   : transparent,
  color        : #95a5a6,
  width        : 200px,
  float        : left,
  width        : 197px,
  padding      : 0px,
  margin-left   : 1px
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}

.button {
  display: block;
  width: 100%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  border: 3px solid #fff;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.button.menuoptions {
  margin-bottom: 30px;
  padding-top: 15px;
}

.button.newrecoed {
  display: block;
  width: 50%;
  height: 74px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  background-color: #489fd9;
}

.button.newrecoed:hover {
  border-color: #489fd9;
  background-color: #fff;
  color: #489fd9;
}

.button.newrecoed:active {
  box-shadow: inset 0 0 16px 1px #489fd9;
}

.button.newrecoed.submimt {
  width: 100%;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 7px;
}

.button.newrecoed.db {
  margin-right: 0px;
  margin-left: 0px;
  float: right;
}

.subtitle {
  padding-bottom: 67px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 31px;
  line-height: 35px;
  font-weight: 400;
  text-shadow: none;
}

.field {
  height: 54px;
  margin-bottom: 19px;
  padding-right: 20px;
  padding-left: 20px;
  border: 0px solid #000;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.field:focus {
  box-shadow: inset 0 0 0 2px #00caf2;
}

.sign-up-form {
  display: block;
  width: 415px;
  margin: 35px auto 66px;
}

.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-widget.full-opacity {
  opacity: 1;
}

.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.social-widget-wrapper.thank-you {
  display: block;
  width: 216px;
  margin-top: 13px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
}

.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #737373;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.spread-word {
  margin-top: 12px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, .6);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}

.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}

.content-wrapper {
  display: inline-block;
  width: 60%;
}

.header-section {
  height: 100%;
  padding-top: 104px;
  background-color: #e0ddd7;
  text-align: center;
}

.footer-section {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: rgba(0, 0, 0, .18);
  color: #7e7c87;
}

.copyright {
  color: hsla(0, 0%, 100%, .52);
  text-align: left;
}

.bars-wrapper {
  height: 7px;
  background-color: #1abc9c;
}

.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}

.bar._2 {
  background-color: #f2ca27;
}

.bar._3 {
  background-color: #e67e22;
}

.bar._4 {
  background-color: #16a085;
}

.bar._5 {
  background-color: #2980b9;
}

.bar._6 {
  background-color: #e74c3c;
}

.bar._7 {
  background-color: #a366bc;
}

.container {
  padding-right: 127px;
  padding-left: 127px;
}

.image-crop {
  overflow: hidden;
  height: 260px;
}

.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  text-align: center;
}

.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-wrapper {
  margin-top: 32px;
}

.refer {
  color: hsla(0, 0%, 100%, .59);
}

.align-right {
  text-align: right;
}

.social-btn {
  margin-left: 17px;
  opacity: 0.44;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-btn:hover {
  opacity: 1;
}

.logo {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-bottom: 19px;
  margin-left: auto;
  padding: 21px;
  background-image: url('../images/un_logo_white.png');
  background-position: 50% 50%;
  background-size: 250px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: 700;
  letter-spacing: 8px;
  text-shadow: none;
}

.logo.menu {
  width: 100px;
  height: 100px;
  background-size: 100px;
}

.about {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.join {
  display: block;
  width: 40%;
  margin-top: -12px;
  margin-bottom: 15px;
  float: left;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: none;
}

.beta-line {
  width: 30%;
  height: 1px;
  float: left;
  background-color: hsla(0, 0%, 100%, .36);
}

.normal_body {
  overflow: scroll;
  height: 100%;
  min-height: 100%;
  padding-top: 0px;
  background-color: #f6f9fc;
  background-image: none;
}

.navbar {
  height: 75px;
  background-color: #30282c;
}

.navbar__link {
  height: 60px;
  margin-top: 8px;
  color: #489fd9;
  font-size: 19px;
}

.navbar__link:hover {
  border: 3px solid #f6f9fc;
  color: #f6f9fc;
  line-height: 14px;
  text-decoration: none;
}

.navbar__link.active {
  border: 3px solid #f6f9fc;
  color: #f6f9fc;
  line-height: 14px;
}

.navbar__menu {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.navbar__brend {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  background-image: url('../images/un_logo_white.png');
  background-position: 50% 50%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.navbar__tomainlogo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 76px;
  background-image: url('../images/un_logo_white.png');
  background-position: 50% 50%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.optionsconteiner {
  display: block;
  width: 415px;
  margin: 35px auto 66px;
}

.addnewrecoed {
  display: block;
  margin-top: 45px;
}

.addnewrecord__fromwrapper {
  margin-top: 30px;
}

.addnewrecord__fromwrapper.hidden {
  display: none;
}

.addnewrecord__fromwrapper.editform {
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

.addnewrecord__fromwrapper.editform.hiddenform {
  display: none;
}

.newincidentform__label {
  margin-top: 10px;
  color: #30282c;
  font-size: 16px;
  text-align: left;
}

.newincidentform__hint {
  margin-top: 42px;
  color: #92858b;
  font-weight: 400;
  text-align: left;
}

.newincidentform__hint.addelement {
  color: #489fd9;
  text-decoration: underline;
  cursor: pointer;
}

.newincidentform__hint.addelement.nomargin {
  margin-top: 15px;
  margin-left: 1px;
}

.newincidentform__hint.addelement.verycloseup {
  margin-top: 3px;
}

.newincidentform__hint.addelement.verycloseup.unlink {
  cursor: pointer;
}

.newincidentform__hint.addelement.margin10 {
  margin-top: 10px;
}

.newincidentform__input {
  border: 1px solid #fcb326;
  border-radius: 3px;
}

.newincidentform__input.text {
  height: 200px;
  min-height: 200px;
}

.newincidentform__input.text.db {
  height: 100px;
  min-height: 100px;
}

.listincidents__conteiner {
  margin-top: 50px;
  margin-bottom: 100px;
}

.listhead {
  margin-bottom: 50px;
  color: #30282c;
  font-size: 57px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
}

.listincidents__filterconteiner {
  margin-top: 20px;
}

.listincidents__filterhead {
  color: #30282c;
  text-align: left;
}

.listincidents__filterhead.midpostion {
  text-align: center;
}

.listincidents__form_label {
  color: #30282c;
  font-weight: 400;
  text-align: left;
}

.listincidents__form_label.db_entries {
  margin-top: 12px;
}

.listincidents__form_label.db_entries.littleup {
  margin-top: 10px;
}

.listincidents__form_label.db_entries.status {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.listincidents__form_label.db_entries.workspace {
  font-size: 14px;
  line-height: 20px;
}

.listincidents__form_input {
  width: 90%;
  border: 1px solid #fcb326;
  border-radius: 3px;
}

.listincidents__form_submit {
  width: 90%;
  margin-top: 24px;
  float: left;
  border-radius: 3px;
  background-color: #fcb326;
  font-size: 18px;
}

.listincidents__form_submit:hover {
  border: 1px solid #fcb326;
  background-color: transparent;
  color: #fcb326;
}

.listincidents__form_submit:active {
  box-shadow: inset 0 0 8px 0 #fcb326;
}

.listincidents__form_submit.apply {
  margin-top: 35px;
  margin-left: 13px;
}

.listincidents__form_submit.db {
  margin-top: 3px;
}

.listincidents__form_submit.filter {
  margin-top: 2px;
  margin-left: 25px;
}

.listincidents_instancesconteiner {
  margin-top: 20px;
}

.listincidents__instanceconteiner {
  margin-top: 4px;
  border: 1px solid #489fd9;
}

.listincidents__instanceconteiner.activeedit {
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 2px;
  border-color: #fcb326;
  border-radius: 3px;
}

.listincidents__rowheading {
  border-bottom: 2px solid #30282c;
}

.listincidents__instance_head {
  color: #30282c;
  font-weight: 400;
}

.listincidents__instance_head.editbutton {
  color: #489fd9;
  text-decoration: underline;
}

.existingsource.hiddeninstance {
  display: none;
}

.newsource.hidden {
  display: none;
}

.filtercreationdates.hiddenfilter {
  display: none;
}

.filternames.hiddenfilter {
  display: none;
}

.filteroptionfield {
  width: 55%;
  margin-top: 3px;
  color: #30282c;
  font-size: 18px;
  font-weight: 700;
}

.additional_header {
  background-color: #1c6e8c;
}

.additional_header__conteiner {
  height: 75px;
  min-height: 75px;
}

.additional_header__link {
  display: inline-block;
  width: 215px;
  height: 53px;
  margin-top: 10px;
  margin-right: 20px;
  padding-top: 14px;
  padding-right: 10px;
  padding-left: 10px;
  border: 3px solid #30282c;
  color: #30282c;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.additional_header__link:hover {
  border-color: #fff;
  color: #fff;
}

.additional_header__link.active_link {
  border-color: #fff;
  color: #fff;
}

.content_block {
  padding-bottom: 100px;
}

.initialstate.hiddenblock {
  display: none;
}

.selectoptionhint {
  display: block;
  width: 608px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 40px 40px;
  border: 1px solid #30282c;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(48, 40, 44, .68);
}

.hinttext {
  color: #30282c;
}

.boldspan {
  font-size: 24px;
  line-height: 55px;
  font-weight: 700;
}

.underlinespan {
  text-decoration: underline;
}

.descriptionsblock {
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.blockheading {
  margin-bottom: 30px;
  color: #30282c;
  text-align: left;
}

.blockheading.report {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 28px;
}

.blockheading.m_db {
  font-weight: 700;
}

.filterheading {
  display: block;
  color: #30282c;
  text-align: left;
}

.blockfilterheading {
  display: block;
  float: left;
  color: #30282c;
  text-align: left;
}

.filterweek {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}
.filterweek.hiddenfilter {
  display: none;
}

.weekchooseblock {
  display: block;
}

.wekkchoosebutton {
  display: block;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #489fd9;
  border-radius: 5px;
  background-color: transparent;
  color: #489fd9;
}

.wekkchoosebutton:hover {
  background-color: #489fd9;
  color: #fff;
}

.wekkchoosebutton:active {
  box-shadow: inset 0 0 16px -2px rgba(252, 179, 38, .66), inset 0 0 19px 1px #4899cf;
}

.weekheader {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #30282c;
  font-size: 19px;
}

.entriesblock {
  margin-top: 20px;
}

.teblehead {
  color: #30282c;
  font-size: 20px;
  font-weight: 700;
}

.teblehead.entrie {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.teblehead.entrie.link {
  color: #489fd9;
  text-decoration: underline;
  cursor: pointer;
}

.teblehead.entrie.infot {
  color: #fff;
}

.teblehead.entrie.infot.edit {
  color: #fcb326;
  text-decoration: underline;
  cursor: pointer;
}

.teblehead.info {
  color: #fff;
}

.headerrow {
  border-bottom: 2px solid #30282c;
}

.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border: 1px solid #30282c;
  border-radius: 3px;
  background-color: transparent;
}

.checkbox.checked {
  background-image: url('../images/checked.png');
  background-position: 50% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
}

.listentriesconteiner {
  width: 100%;
}

.listentrieconteiner {
  border-bottom: 1px solid #30282c;
}

.dotedcolumn {
  border-right: 1px dashed #30282c;
}

.touchedinfoblock {
  position: absolute;
  top: 2px;
  z-index: 1000;
  display: block;
  width: 600px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #1c6e8c;
  box-shadow: 0 0 6px 0 rgba(28, 110, 140, .71);
}
.touchedinfoblock.hb {
  display: none;
}
.touchedinfoblock.description {
  top: auto;
  right: 0px;
  bottom: 2px;
}

.touchedinfoheadrow {
  border-bottom: 1px solid #fff;
}

.touchedeventconteiner {
  border-top: 1px solid #fff;
}

.assignedidinfoblock {
  position: absolute;
  top: 2px;
  z-index: 1001;
  display: block;
  width: 700px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #1c6e8c;
  box-shadow: 0 0 6px 0 rgba(28, 110, 140, .84);
}

.assignedidinfoblock.hb {
  display: none;
}

.assignedidinfoblock.rightconteiner {
  top: 2px;
  right: 0px;
}

.assignedidinfoblock.description {
  top: auto;
  right: 0px;
  bottom: 2px;
}

.assignedidheaderrow {
  border-bottom: 1px solid #fff;
}

.assignedidinfo__entrie {
  border-top: 1px solid #fff;
}

.actionblock {
  display: block;
  width: 100%;
  height: 44px;
  margin-top: 0px;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.actionhead {
  color: #30282c;
  font-weight: 400;
  text-align: left;
}

.actionhead.db_inst {
  font-size: 30px;
  line-height: 34px;
}

.fhe {
  height: 44px;
}

.filterid{
  display: block;
}

.filterid.hiddenbl {
  display: none;
}

.dbentriesblock {
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.filtercreationdate.hiden {
  display: none;
}

.dbentryconteiner {
  border-bottom: 1px solid #30282c;
}

.paginationconteiner {
  margin-top: 20px;
}

.filterpages {
  margin-top: 2px;
}

.deleteconfirm {
  position: absolute;
  right: 0px;
  bottom: -3px;
  z-index: 1002;
  display: block;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #1c6e8c;
  box-shadow: 0 0 6px 0 rgba(28, 110, 140, .8);
}
.deleteconfirm.hidden {
  display: none;
}

.deletebuttonsblock {
  margin-bottom: 10px;
}

.deletebutton {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid #fff;
  background-color: transparent;
}

.deletebutton:hover {
  box-shadow: inset 0 0 10px 0 #fff;
}

.deletebutton:active {
  box-shadow: inset 0 0 10px 3px #fff;
}

.manageentrieconteiner {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.db_reportinstnceconteiner {
  margin-bottom: 20px;
}

.db_dropdown_first {
  display: block;
  width: 50%;
  float: left;
}

.db__dropdown_fisst__togle {
  height: 38px;
  padding-top: 8px;
  border: 1px solid #fcb326;
  border-radius: 3px;
}

.db__dropdown_first__list.w--open {
  border: 2px solid #489fd9;
  background-color: #fff;
}

.db__dropdown_second__conteiner {
  position: absolute;
  top: -2px;
  right: -250px;
  display: none;
  width: 250px;
  min-width: 100px;
  border: 2px solid #489fd9;
  background-color: #fff;
}

.db__dropdown_link {
  border-bottom: 1px solid #489fd9;
  background-color: transparent;
  cursor: cell;
}

.db__dropdown_link.first {
  background-image: url('../images/arrow_right.png');
  background-position: 100% 50%;
  background-size: 35px;
  background-repeat: no-repeat;
}

.db__searchresultinstance {
  border-bottom: 1px dotted #30282c;
}

.db__recordinstance__headconteiner {
  border-bottom: 1px solid #30282c;
}
.db__recordinstance__content {
  display: block;
  border-bottom: 2px solid #fcb326;
  padding-bottom: 25px;
}
.db__recordinstance__content.hidden {
  display: none;
}
.db__victimsconteiner {
  max-height: 200px;
  overflow-y: scroll;
}
.db__reportsblock {
  padding-bottom: 50px;
}
.statusconteiner {
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 1100;
  width: 250px;
  background-color: #fff;
}
.gradingList {
  display: block;
}
.gradingList.hidden {
  display: none;
}
.new_grading {
  display: block;
}
.new_grading.hidden {
  display: none;
}

.responsesuccess__conteiner {
  border: 3px solid #52c38b;
  border-radius: 5px;
  box-shadow: inset 0 0 27px 1px rgba(82, 195, 139, .94), 0 0 21px 0 #419169;
}

.responsesuccess__conteiner.hiddenstat {
  display: none;
}

.responseerror__conteiner {
  border: 3px solid #922821;
  border-radius: 5px;
  box-shadow: inset 0 0 21px 5px rgba(146, 40, 33, .82), 0 0 16px 0 #802822;
}

.responseerror__conteiner.hiddentstat {
  display: none;
}

.onepagecontent {
  height: 800px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.workspacedescription__conteiner {
  border-right: 1px solid #30282c;
  border-left: 1px solid #30282c;
  border-bottom: 1px solid #30282c;
}

.doted_left {
  height: 100%;
  min-height: 100%;
  border-left: 1px dotted #30282c;
}

.doted_left.fheight {
  height: 100%;
}

.doted_right {
  border-right: 1px dotted #30282c;
}

@media (max-width: 991px) {
  .subtitle {
    font-size: 29px;
    text-shadow: none;
  }
  .content-wrapper {
    width: 81%;
  }
  .container {
    padding-right: 57px;
    padding-left: 57px;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
  .join {
    width: 50%;
    font-size: 21px;
    text-shadow: none;
  }
  .beta-line {
    width: 25%;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 65px;
  }
  .subtitle {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 43px;
    text-shadow: none;
  }
  .sign-up-form {
    margin-bottom: 64px;
  }
  .content-wrapper {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .header-section {
    padding-top: 37px;
  }
  .footer-section {
    position: static;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: rgba(0, 0, 0, .49);
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .logo {
    text-shadow: none;
  }
  .join {
    text-shadow: none;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    font-size: 20px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .subtitle {
    padding-bottom: 36px;
    font-size: 22px;
    line-height: 26px;
    text-shadow: none;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .sign-up-form {
    width: 100%;
    margin-top: 22px;
  }
  .social-widget {
    width: 96px;
  }
  .social-widget-wrapper {
    display: block;
    width: 221px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .copyright {
    margin-bottom: 16px;
    text-align: center;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-crop {
    height: auto;
    margin-bottom: 40px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .align-right {
    text-align: center;
  }
  .social-btn {
    margin-right: 17px;
  }
  .logo {
    font-size: 43px;
    text-shadow: none;
  }
  .join {
    width: 75%;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 4px;
    text-shadow: none;
  }
  .beta-line {
    width: 12%;
  }
}
.dropStyle {
    width: auto;
    height: 38px;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    border: 2px dashed #fcb326;
    border-radius: 3px;
    background-color: white;
}
.Select-control {
  height: 38px;
  border: 1px solid #fcb326;
}