{% extends 'accounts/base_userena.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{% spaceless %}

<body>
  <div class="w-container container">
    <div class="logo"></div>
    <p class="subtitle">UNAMID</p>
    <div class="w-clearfix join-wrapper">
      <div class="beta-line"></div>
      <p class="join">Login</p>
      <div class="beta-line"></div>
    </div>
    <div class="sign-up-form">
      <form action="" method="POST" class="w-clearfix">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field.errors }}
        {% comment %} Displaying checkboxes differently {% endcomment %}
        {% if field.name == 'remember_me' %}
        {% else %}
         {{ field }} 
        {% endif %}
        {% endfor %}
        <input class="w-button button" type="submit" value="Continue" />
      </form>
    </div>
  </div>
</body>
{% endspaceless %}  
{% endblock %}