body {
  padding-top: 93px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

h1 {
  margin: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #2d3338;
  font-size: 69px;
  line-height: 54px;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.hidden{
  display: none;
}

.button {
  display: block;
  width: 100%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  border: 3px solid #fff;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.button.newrecoed {
  display: block;
  width: 50%;
  height: 74px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  background-color: #489fd9;
}

.button.newrecoed:hover {
  border-color: #489fd9;
  background-color: #fff;
  color: #489fd9;
}

.button.newrecoed:active {
  box-shadow: inset 0 0 16px 1px #489fd9;
}

.button.newrecoed.segment {
  width: 250px;
  margin-left: 0px;
  padding-top: 24px;
  line-height: 21px;
}

.normal_body {
  overflow: scroll;
  height: 100%;
  min-height: 100%;
  padding-top: 0px;
  background-color: #f6f9fc;
  background-image: none;
}

.navbar {
  height: 75px;
  background-color: #30282c;
}

.navbar__link {
  height: 60px;
  margin-top: 8px;
  color: #489fd9;
  font-size: 19px;
}

.navbar__link:hover {
  border: 3px solid #f6f9fc;
  color: #f6f9fc;
  line-height: 14px;
  text-decoration: none;
}

.navbar__link.active {
  border: 3px solid #f6f9fc;
  color: #f6f9fc;
  line-height: 14px;
}

.navbar__menu {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.navbar__tomainlogo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 76px;
  background-image: url('../images/un_logo_white.png');
  background-position: 50% 50%;
  background-size: 60px;
  background-repeat: no-repeat;
}

.newincidentform__label {
  margin-top: 10px;
  color: #30282c;
  font-size: 16px;
  text-align: left;
}

.listincidents__filterhead {
  color: #30282c;
  text-align: left;
}

.listincidents__form_label {
  color: #30282c;
  font-weight: 400;
  text-align: left;
}

.listincidents__form_label.db_entries {
  margin-top: 12px;
}

.listincidents__form_label.db_entries.littleup {
  margin-top: 10px;
}

.listincidents__form_label.db_entries.status {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.listincidents__form_input {
  width: 90%;
  border: 1px solid #fcb326;
  border-radius: 3px;
}

.listincidents__form_input.headerinst {
  margin-bottom: 0px;
}

.listincidents__form_submit {
  width: 90%;
  margin-top: 24px;
  float: left;
  border-radius: 3px;
  background-color: #fcb326;
  font-size: 18px;
}

.listincidents__form_submit:hover {
  border: 1px solid #fcb326;
  background-color: transparent;
  color: #fcb326;
}

.listincidents__form_submit:active {
  box-shadow: inset 0 0 8px 0 #fcb326;
}

.listincidents__form_submit.filter {
  margin-top: 2px;
  margin-left: 25px;
}

.listincidents__form_submit.filter.segment {
  margin-top: 3px;
  margin-left: 15px;
}

.additional_header {
  background-color: #1c6e8c;
}

.additional_header__conteiner {
  height: 75px;
  min-height: 75px;
}

.additional_header__link {
  display: inline-block;
  width: 215px;
  height: 53px;
  margin-top: 10px;
  margin-right: 20px;
  padding-top: 14px;
  padding-right: 10px;
  padding-left: 10px;
  border: 3px solid #30282c;
  color: #30282c;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.additional_header__link:hover {
  border-color: #fff;
  color: #fff;
}

.additional_header__link.active_link {
  border-color: #fff;
  color: #fff;
}

.content_block {
  padding-bottom: 100px;
}

.initialstate.hiddenblock {
  display: none;
}

.selectoptionhint {
  display: block;
  width: 608px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 40px 40px;
  border: 1px solid #30282c;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(48, 40, 44, .68);
}

.hinttext {
  color: #30282c;
}

.boldspan {
  font-size: 24px;
  line-height: 55px;
  font-weight: 700;
}

.underlinespan {
  text-decoration: underline;
}

.descriptionsblock {
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.blockheading {
  margin-bottom: 30px;
  color: #30282c;
  text-align: left;
}

.wekkchoosebutton {
  display: block;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #489fd9;
  border-radius: 5px;
  background-color: transparent;
  color: #489fd9;
}

.wekkchoosebutton:hover {
  background-color: #489fd9;
  color: #fff;
}

.wekkchoosebutton:active {
  box-shadow: inset 0 0 16px -2px rgba(252, 179, 38, .66), inset 0 0 19px 1px #4899cf;
}

.teblehead {
  color: #30282c;
  font-size: 20px;
  font-weight: 700;
}

.teblehead.entrie {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.teblehead.entrie.link {
  color: #489fd9;
  text-decoration: underline;
  cursor: pointer;
}

.teblehead.entrie.segment {
  text-align: left;
}

.headerrow {
  border-bottom: 2px solid #30282c;
}

.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border: 1px solid #30282c;
  border-radius: 3px;
  background-color: transparent;
}

.checkbox.checked {
  background-image: url('../images/checked.png');
  background-position: 50% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
}

.actionhead {
  color: #30282c;
  font-weight: 400;
  text-align: left;
}

.fhe {
  height: 44px;
}

.dbentriesblock {
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.filterincidentdate.header {
  margin-top: 3px;
  margin-bottom: 0px;
}

.filterincidentdate.segmentfilter {
  margin-top: 5px;
}

.dbentryconteiner {
  border-bottom: 1px solid #30282c;
}

.dbentryconteiner.segmentinst {
  border-top: 1px dashed rgba(48, 40, 44, .34);
  border-bottom-style: none;
}

.paginationconteiner {
  margin-top: 20px;
}

.filterpages {
  margin-top: 2px;
}

.statusconteiner {
  position: fixed;
  top: 120px;
  right: 30px;
  z-index: 1100;
  width: 250px;
  background-color: #fff;
}

.responsesuccess__conteiner {
  border: 3px solid #52c38b;
  border-radius: 5px;
  box-shadow: inset 0 0 27px 1px rgba(82, 195, 139, .94), 0 0 21px 0 #419169;
}

.responsesuccess__conteiner.hiddenstat {
  display: none;
}

.responseerror__conteiner {
  border: 3px solid #922821;
  border-radius: 5px;
  box-shadow: inset 0 0 21px 5px rgba(146, 40, 33, .82), 0 0 16px 0 #802822;
}

.responseerror__conteiner.hiddentstat {
  display: none;
}

.chart__holder {
  width: 100%;
  height: auto;
  min-height: 350px;
  margin-top: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.segments__conteiner {
  margin-top: 20px;
}

.segment__conteiner {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(48, 40, 44, .34);
}

.segment__conteiner.hide {
  display: none;
}

.segment_header_row {
  border-bottom: 1px solid rgba(48, 40, 44, .34);
}

.segmentrow {
  border-right: 1px solid rgba(48, 40, 44, .34);
}

.segment__option__instance {
  margin-right: -10px;
  margin-left: -10px;
  padding-bottom: 5px;
}

.segment__option__instance:hover {
  background-color: #cfe6f5;
}

.segment__option__instance.activesegment {
  background-color: #cfe6f5;
}

.segment__actions__block {
  margin-top: 10px;
  box-shadow: 0 1px 2px 0 rgba(48, 40, 44, .34);
}

.segements__list__conteiner {
  overflow: scroll;
  max-height: 350px;
}

.db__entry__preview_conteiner {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.db__entry__preview_conteiner.hided {
  display: none;
  opacity: 0;
}

@media (max-width: 767px) {
  body {
    padding-top: 65px;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    font-size: 20px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

