{% extends 'main/base_main.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}
<div class="w-container container">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Choose option</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'incidents:incidents' %}">Incident Processing</a>
    <a class="w-button button menuoptions" href="{% url 'db_manage:db_point' %}">Database Management</a>
    <a class="w-button button menuoptions" href="{% url 'analytics:chart' %}">Create report</a>
    <a class="w-button button menuoptions" href="{% url 'docs:docs' %}">User Manual</a>
    <a class="w-button button menuoptions" href="{% url 'userena_signout' %}">Sign out</a>
  </div>
</div>
{% else %}
<div class="w-container container">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Please Log in</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'userena_signin' %}">Log in</a>
  </div>
</div>
{% endif %}
{% endblock %}