{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>JMAC DB | START POINT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/webflow.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/main-27-06-2016.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto Condensed:regular,700"]
      }
    });
  </script>
  <script type="text/javascript" src="{% static 'main/js/modernizr.js' %}"></script>
</head>
<body>
{% block body %}


{% endblock %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'main/js/webflow.js' %}"></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
