<html>
<head>
    <title>{{title}}</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>{{header}}</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <h1>{{num}}</h1>
    <form action="" enctype="multipart/form-data"  method="post">
        <label for="model">Choose Model</label>
        <select id="model" name='model'>
          <option value='1'>Information grading</option>
          <option value='2'>Actors groups</option>
          <option value='3'>Source groups</option>
          <option value='4'>Nature groups</option>
        </select>
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" name="export_excel" value="Submit">
    </form>
    <form action=""  method="POST">
        {% csrf_token %}
        <input type="submit" name="export_natures" value="Export natures">
        <input type="submit" name="export_sources" value="Export sources">
        <input type="submit" name="export_inf" value="Export information gradings">
        <input type="submit" name="export_actors" value="Export actors">
    </form>
{% else %}
<div class="w-container" style="background:black;">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Please Log in</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'userena_signin' %}">Log in</a>
  </div>
</div>
{% endif %}    
</body>
</html>