<html>
<head>
    <title>{{title}}</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>{{header}}</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <h1>{{num}}</h1>
    <form action="" enctype="multipart/form-data"  method="post">
        <label for="sheet">Document sheet number</label>
        <select id="sheet" name='sheet'>
          <option value='0'>1</option>
          <option value='1'>2</option>
          <option value='2'>3</option>
        </select>
        <label for="row">Start row (exept heading)</label>
        <select id="row" name='row'>
          <option value='0'>1</option>
          <option value='1'>2</option>
          <option value='2'>3</option>
          <option value='3'>4</option>
          <option value='4'>5</option>
        </select>
        <label for="new_upload">Is it new upload</label>
        <select id="new_upload" name='new'>
          <option value='0'>Yes</option>
          <option value='1'>No</option>
        </select>
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% else %}
<div class="w-container" style="background:black;">
  <div class="logo menu"></div>
  <p class="subtitle">UNAMID</p>
  <div class="w-clearfix join-wrapper">
    <div class="beta-line"></div>
    <p class="join">Please Log in</p>
    <div class="beta-line"></div>
  </div>
  <div class="optionsconteiner">
    <a class="w-button button menuoptions" href="{% url 'userena_signin' %}">Log in</a>
  </div>
</div>
{% endif %}    
</body>
</html>